<h1>User info</h1>
<div>
  <%= form_with model:@user, locla:true do |f| %>
    <p>name</p>
    <%= f.text_field :name %>
    <p>image</p>
    <%= f.attachment_field :profile_image %>
    <p>introduction</p>
    <%= f.text_area :introduction %>
    <%= f.submit "Update User" %>
  <% end %>

</div>